#if ($data.message)
<DIV class="warning">$data.message</DIV><br>
#end

#if(0 < $par_count)
<div class="message">You have been invited to join $par_count $displayManager.getSingularDisplayNameForProject().toLowerCase()(s).&nbsp;
<button onclick="window.location='$content.getURI("/app/template/PARManager.vm")'">Review</button>
</div>
<div style="line-height:6px">&nbsp;</div>
#end
#parse("/screens/Splash.vm")
